<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.briefmsg" version="0.9.1">

    <name>Brief Msg</name>
    <description>An simple SIP messenger.</description>
    <author href="https://briefmsg.org" email="support@briefmsg.org">Vitali Fomine</author>

	<icon src="images/main.gif" />
	<gap:splash src="images/main.gif" width="32" height="32" />

	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

</widget>