<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.briefmsg" version="1.0.1">

    <name>Brief Msg</name>
    <description>Simple SIP messenger.</description>
    <author href="https://briefmsg.org" email="support@briefmsg.org">Vitali Fomine</author>

	<icon src="images/icon.png" />
	<gap:splash src="images/splash.png" />

</widget>