
div.error {
    color: red;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

#message-container {
	position: relative;
	height: 200px;
}

.message-view {
	position: absolute;
	top: 0px;
	width: 100%;
}

.message-sender {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	padding-right: 1em;
}

.message-time {
	padding-left: 1em;
	text-align: right;
}

.message-text {
//	white-space: pre;
}

#menu-listview {
	min-width: 12em;
}

.contact-status {
	width: 0.8em;
	height: 0.8em;
	background-color: #f0f0f0;
	display: inline-block;
	margin-right: 0.5em;
	border: 1px solid #bbb;
	border-radius: 4px;
}

.contact-online {
	background-color: #99FF99;
}

.contact-offline {
	background-color: #FFCCCC;
}

.contact-away {
	background-color: #FFFF99;
}

.contact-busy {
	background-color: #FFCC66;
}
